# username for connexion
# must be sudoer without password
user: ubuntu

# target host
host: 192.168.122.142

# path to the linux source directory
# either absolute or relative to the fabfile.py
linux_dir: linux
